// Import NHS.UK frontend library
@import 'node_modules/nhsuk-frontend/packages/nhsuk';

// Components that are not in the NHS.UK frontend library
@import 'components/panel-confirmation';
@import 'components/related-nav';

///////////////////////////////////////////
// Add your custom CSS/Sass styles below... 
///////////////////////////////////////////
.example {
    position: relative;
    overflow: hidden;
    // background-color: #fff;
    border: 1px solid $color_nhsuk-grey-3;
    margin-top: 30px;
    padding: 40px 30px 30px 30px;
	&:before {
	    content: "EXAMPLE";
	    position: absolute;
	    top: 0;
	    left: 0;
	    padding: 0.2105263158em 0.7894736842em 0.2105263158em 0.7894736842em;
      -webkit-font-smoothing: antialiased;
	    font-weight: 400;
	    text-transform: none;
	    font-size: 12px;
	    font-weight: bold;
	    line-height: 1.45;
	    background: #425563;
        color: white;
	}
}

confirmation {
  img {
    max-width: 100%;
    height: auto;
  }
}
.confirm-desktop{
  display: block;
}

.confirm-mobile{
   display: none;
}

@media screen and ( max-width: 640px ) {
   .confirm-desktop{
     display: none;
   }

   .confirm-mobile{
     display: block;
   }
}

    /* Sticky nav */
    #sticky-nav a.active {
        border-left: 7px solid #ffb81c;
        padding-left: 10px;
        color: #425563;
        text-decoration: none;
        font-weight: bold;
    }

    /* Article sections */
    .article-section {
        position: relative;
        width: 100%;
        margin-top: 32px;
        padding-top: 48px;
        border-top: 1px solid #d8dde0;
    }

    .article-section:first-child {
        padding-top: 0;
        border-top: none;
        margin-top: 0;
    }

    .article-section *+* {
        margin-top: 14px;
    }

    @media (min-width: 641px) {
        .article-section *+* {
            margin-top: 20px;
        }
    }

    .article-section *+li {
        margin-top: 0;
    }

    @media (min-width: 641px) {
        .article-section *+li {
            margin-top: 0;
        }
    }

    .article-section dt {
        margin-top: 0;
    }

    .article-section h3:not(:first-of-type) {
        margin-top: 32px;
    }

    .article-section .grid-row,
    .article-section .column {
        margin-top: 0;
    }

    @media (min-width: 641px) {

        .article-section .grid-row,
        .article-section .column {
            margin-top: 0;
        }
    }

    @media (min-width: 925px) {
        .article-section {
            padding-top: 32px;
        }
    }

    /* Article section nav */
    .article-section-nav-wrapper {
        position: relative;
    }

    .article-section-nav-wrapper+.article-section-nav-wrapper {
        margin-top: 32px;
    }

    .article-section-nav {
//        padding-top: 16px;
        padding-bottom: 32px;
        border-bottom: 1px solid #d8dde0;
    }

    @media (min-width: 1520px) {
        .article-section-nav:not(.article-section-nav--facets) {
            max-width: 320px;
        }
    }

    @media (min-width: 925px) {
        .article-section-nav {
            padding-bottom: 0;
            border: none;
        }
    }

    .article-section-nav .article-section-nav__title {
        margin: 0 0 16px;
        display: inline-block;
        padding: 0 10px 10px 0;
        border-bottom: 4px solid #425563;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 18px;
        font-weight: 600;
        line-height: 28px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__title {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__title {
            font-size: 24px;
            line-height: 34px;
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__title {
            line-height: 24px;
        }
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__title {
            display: block;
            padding: 0 0 4px 0;
        }
    }

    .article-section-nav .article-section-nav__section {
        margin-top: 24px;
    }

    .article-section-nav .article-section-nav__section:first-child {
        margin-top: 0;
    }

    .article-section-nav .article-section-nav__list {
        margin-left: 0;
        list-style: none;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__list {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__list {
            font-size: 18px;
            line-height: 30px;
        }
    }

    .article-section-nav .article-section-nav__list li {
        padding-left: 0;
    }

    .article-section-nav .article-section-nav__list li:first-child a {
        margin-top: 0;
    }

    .article-section-nav .article-section-nav__list a {
        margin-top: 10px;
        display: inline-block;
        text-decoration: underline;
    }

    .article-section-nav .article-section-nav__list .section-numbered {
        margin-left: 20px;
        font-size: 16px;
    }

    .article-section-nav .article-section-nav__list--tag-links {
        list-style: none;
        padding-left: 0;
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__list--tag-links {
            position: relative;
            line-height: 0;
            left: -6px;
        }

        .article-section-nav .article-section-nav__list--tag-links:after {
            clear: both;
            content: "";
            display: table;
        }

        .article-section-nav .article-section-nav__list--tag-links li {
            display: inline-block;
            float: left;
            margin-left: 6px;
            margin-top: 0;
            margin-bottom: 6px;
        }
    }

    .article-section-nav .article-section-nav__menu {
        list-style: none;
        margin-top: 0;
        padding: 0;
        font-family: "Frutiger W01", Arial, sans-serif;
        font-size: 16px;
        font-weight: 600;
        line-height: 26px;
        text-transform: none;
    }

    @media (min-width: 641px) {
        .article-section-nav .article-section-nav__menu {
            /* font-size: type-scale($level, "medium");
    line-height: line-height($level, "medium"); */
        }
    }

    @media (min-width: 925px) {
        .article-section-nav .article-section-nav__menu {
            font-size: 18px;
            line-height: 30px;
        }
    }

    .article-section-nav .article-section-nav__menu:after {
        clear: both;
        content: "";
        display: table;
    }

    .article-section-nav .article-section-nav__menu li {
        position: relative;
        display: inline-block;
        float: left;
        width: 38px;
        height: 38px;
        line-height: 38px;
        vertical-align: middle;
        text-align: center;
        margin: 0 3px 3px 0;
        background-color: #005EB8;
    }

    .article-section-nav .article-section-nav__menu li a {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        color: #FFFFFF;
    }

    .article-section-nav .article-section-nav__menu li:hover a,
    .article-section-nav .article-section-nav__menu li:focus a {
        text-decoration: none;
    }

    .article-section-nav .article-section-nav__menu li.is-disabled {
        cursor: not-allowed;
        pointer-events: none;
        background-color: #CBCBCB;
    }

    .article-section-nav .article-section-nav__menu li.is-disabled a {
        color: #666666;
        text-decoration: none;
    }

    @media (max-width: 924px) {
        .article-section-nav .article-section-nav__menu li {
            margin: 0 4px 4px 0;
        }
    }

    .article-section-nav+.article-section-nav {
        margin-top: 48px;
    }


    .callout {
        padding: 16px;
        margin-bottom: 0;
    }

    @media (min-width: 925px) {
        .callout {
            padding: 32px;
        }
    }

    .callout:focus {
        outline: 3px solid #FFB81C;
    }

    .callout--attention {
        border: 8px solid #005EB8;
    }


    .nhsuk-caption-xl {
    font-size: 27px;
    display: block;
    color: $color_nhsuk-grey-2;
  }


@mixin label ($label-background: #DEE0E2, $label-border: #CBCBCB, $label-text: #0B0C0C) {
    background: $label-background;
    color: #FFF;
    display: inline-block;
    line-height: 1;
    padding: 5px;
    margin: 0 calc(2 * #{5px}) 5px 5px;
    text-align: left;
    text-decoration: none;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}
.label {
    @include label(#6F777B, #0B0C0C)
}
.label--white {
    @include label(#FFF)
    color: #0B0C0C;
    border: 1px solid #CBCBCB;
}
.label--blue {
    @include label(#005EA5, #005EA5)
}

.label--red {
    @include label(#B10E1E, #B10E1E)
}

@media (max-width: 641px) {
  .label, .label--white, .label--blue, .label--red {
    font-size: .85rem;
  }
}

.confirmation {
  img {
    max-width: 100%;
    height: auto;
  }
}
.confirm-desktop{
  display: block;
}

.confirm-mobile{
   display: none;
}

@media screen and ( max-width: 640px ) {
   .confirm-desktop{
     display: none;
   }

   .confirm-mobile{
     display: block;
   }
}

.flash-card {
  margin-top: 1em;
  padding: 30px;
  background: #005EA5;
  color: #FFF;

  header {
    background-color: inherit;
  }

  p {
    margin-left: 32px;
  }

  ul.how-to-renew {
    padding-left: 0;
    list-style: none;

    h2 {
      margin: 0;
      margin-bottom: 0;
      padding: 0;
      color: #FFF;
      font-size: 28px;
    }

    li {
      margin-bottom: 22px;
    }
  }

  h1 {
    color: #FFF;
    &:first-of-type {
      margin-top: 0 !important;
    }
  }

  a {
    color: #FFF;
    &:visited, &:hover, &:active {
      color: #FFF; }
    }
    details {
      // margin-bottom: 1em;
      summary {
        color: #FFF;
      }
      .panel {
        border-left-color: #FFF;
      }
    }
  }

  @media (min-width: 769px) {
    .flash-card {
      margin-top: 1.25em;
      padding: 35px 50px;
    }
  }

.circle-white {
  color: #005ea5;
  background: #fff;
  float: left;
  margin-right: 15px;
}

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.circle {
  margin-top: 6px;
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-family: 'Inter UI', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
