{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}


{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
        <div class="article-section-nav-outer-wrapper">
            <div id="sticky-nav" class="" style="">
                <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                    <div class="article-section-nav-wrapper">
                        <div class="article-section-nav">
                            <nav id="toc" class="js-toc-list toc__list">
                                <ol class="article-section-nav__list">
                                    <li>
                                        <a href="patterns/confirmation-loop">Check and confirm</a>
                                    </li>
                                    <li>
                                        <a href="patterns/help">Contextual help</a>
                                    </li>
                                    <li>
                                        <a href="patterns/enquiry">Enquiry form</a>
                                    </li>
                                    <li>
                                        <a href="patterns/error-pages">Error Page</a>
                                    </li>
                                    <li>
                                        <a href="patterns/sign-out">Leaving a service</a>
                                    </li>
                                    <li>
                                        <a href="patterns/guidance-image">Guidance images</a>
                                    </li>
                                    <li>
                                        <a href="patterns/identifying-users">Authentication of users</a>
                                    </li>
                                    <li>
                                        <a href="patterns/interruption-card">Interruption card</a>
                                    </li>
                                    <li>
                                        <a href="patterns/modal">Modal window</a>
                                    </li>
                                    <li>
                                        <a href="patterns/multiple-loops">Multiple loops</a>
                                    </li>
                                    <li>
                                        <a href="patterns/postcode">Postcode lookup</a>
                                    </li>
                                    <li>
                                        <a href="patterns/question-funnel">Question funnel</a>
                                    </li>
                                    <li>
                                        <a href="patterns/upload-file">Upload a document</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <h1>Patterns</h1>

        <p class="nhsuk-body-l">Patterns are guidance on how to solve certain types of problem. They include examples of successful approaches but are flexible and don’t prescribe exact design solutions.</p>
        
        <p>These patterns extend those used across Government in the <a href="https://design-system.service.gov.uk/patterns/">GOV.UK design system</a>. As our patterns mature, we will look to contribute them to the GOV.UK system so they can be used more widely.</p>
    </div>

</div>

<!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
