{% extends 'layouts/layout-bsa-design-system.html' %}

{% set active = "patterns" %}
{% set activesub = "modal" %}

{% block pageTitle %}
Modal window - NHSBSA design system
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
        <div class="article-section-nav-outer-wrapper">
            <div id="sticky-nav" class="" style="">
                <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                    <div class="article-section-nav-wrapper">
                        <div class="article-section-nav">
                            <nav id="toc" class="js-toc-list toc__list">
                                <ol class="article-section-nav__list">
                                    <li>
                                        <a href="confirmation-loop">Check and confirm</a>
                                    </li>
                                    <li>
                                        <a href="help">Contextual help</a>
                                    </li>
                                    <li>
                                        <a href="enquiry">Enquiry form</a>
                                    </li>
                                    <li>
                                        <a href="error-pages">Error Page</a>
                                    </li>
                                    <li>
                                        <a href="sign-out">Leaving a service</a>
                                    </li>
                                    <li>
                                        <a href="guidance-image">Guidance images</a>
                                    </li>
                                    <li>
                                        <a href="identifying-users">Authentication of users</a>
                                    </li>
                                    <li>
                                        <a href="interruption-card">Interruption card</a>
                                    </li>
                                    <li>
                                        <a href="modal">Modal window</a>
                                    </li>
                                    <li>
                                        <a href="multiple-loops">Multiple loops</a>
                                    </li>
                                    <li>
                                        <a href="postcode">Postcode lookup</a>
                                    </li>
                                    <li>
                                        <a href="question-funnel">Question funnel</a>
                                    </li>
                                    <li>
                                        <a href="upload-file">Upload a document</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-xl">Patterns</span>
      <h1 class="heading-section">Modal window</h1>
      <p class="govuk-body-l">Creating focus on a single interaction.</p>

      <h2 class="govuk-heading-m">When to use this pattern</h2>
      <p>Modals should be avoided in most cases. They are hard to make accessible and do not work well in mobile views.</p>
      <p>Adding content to a new page instead of showing it in a modal should be the default approach.</p>
      <p>Modals can be useful when you need to draw a users attention to something, for example timeout warnings. Please discuss with the wider community or email <a href="mailto:design@digital.homeoffice.gov.uk">design@digital.homeoffice.gov.uk</a> before using this pattern.</p>

      <h2 id="interaction" class="govuk-heading-m">How modals work</h2>
      <p>A modal should focus on a single task.</p>
      <p>If the modal is user triggered, the content that opens the modal window (for example, a link or button) should explain to the user what will happen.</p>
      <p>Modals should include a heading.</p>
      <p>Extra attention should be made to make sure modals are accessible.</p>

      <div class="example example-images confirmation">
        <img src="{{ asset_path }}/images/modal-desktop.svg" class=" confirm-desktop" alt="A flow of 2 steps. The first screen shows a page of a service. The second screen shows a modal window overlayed on the page giving the user a timeout warning.">
        <img src="{{ asset_path }}/images/modal-mobile.svg" class="confirmation confirm-mobile" alt="A flow of 2 steps. The first screen shows a page of a service. The second screen shows a modal window overlayed on the page giving the user a timeout warning.">
      </div>

      <h2 class="govuk-heading-m">Services using this pattern</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li>Employers Checking Service</li>
        <li>Passport renewals (timeout)</li>
      </ul>

      <div class="contact-us">
        <h2 class="govuk-heading-m">Get in touch</h2>
        <p>If you’ve got a question or suggestion share it on Slack <a href="slack://channel?id=C0FR8PE8Z&team=T03TJ3P61">#interaction-designers channel</a> or on <a href="https://github.com/UKHomeOffice/home-office-digital-patterns/issues/44">GitHub</a>.</p>
      </div>

    </div>
  </main>
</div>

{% endblock %}
