{% extends 'layouts/layout-bsa-design-system.html' %}
{% set active = "patterns" %}
{% set activesub = "support" %}

{% block pageTitle %}
Support - NHSBSA design system
{% endblock %}

{% block content %}

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
        <div class="article-section-nav-outer-wrapper">
            <div id="sticky-nav" class="" style="">
                <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                    <div class="article-section-nav-wrapper">
                        <div class="article-section-nav">
                            <nav id="toc" class="js-toc-list toc__list">
                                <ol class="article-section-nav__list">
                                    <li>
                                        <a href="confirmation-loop">Check and confirm</a>
                                    </li>
                                    <li>
                                        <a href="help">Contextual help</a>
                                    </li>
                                    <li>
                                        <a href="enquiry">Enquiry form</a>
                                    </li>
                                    <li>
                                        <a href="error-pages">Error Page</a>
                                    </li>
                                    <li>
                                        <a href="sign-out">Leaving a service</a>
                                    </li>
                                    <li>
                                        <a href="guidance-image">Guidance images</a>
                                    </li>
                                    <li>
                                        <a href="identifying-users">Authentication of users</a>
                                    </li>
                                    <li>
                                        <a href="interruption-card">Interruption card</a>
                                    </li>
                                    <li>
                                        <a href="modal">Modal window</a>
                                    </li>
                                    <li>
                                        <a href="multiple-loops">Multiple loops</a>
                                    </li>
                                    <li>
                                        <a href="postcode">Postcode lookup</a>
                                    </li>
                                    <li>
                                        <a href="question-funnel">Question funnel</a>
                                    </li>
                                    <li>
                                        <a href="upload-file">Upload a document</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
      <span class="nhsuk-caption-xl">Patterns</span>
      <h1 class="heading-section">Support</h1>
      <p class="nhsuk-body-l">Provide information to users who encounter a problem and need help.</p>

      <div class="example example-images confirmation" style="margin-bottom: 2em;">
        <img src="/images/support.svg" class="confirm-desktop" alt="">
        <img src="/images/support-mobile.svg" class="confirmation confirm-mobile" alt="">
      </div>

      <h2 class="nhsuk-heading-m">Guidance</h2>
      <h3 class="nhsuk-heading-s">It can be used:</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>as part of an error page</li>
        <li>as part of feedback</li>
      </ul>

      <h3 class="nhsuk-heading-s">The support pattern should:</h3>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>give a number of options for how the user reports a problem</li>
        <li>always be available to users</li>
        <li>clearly say what time support is available</li>
      </ul>


    </div>
  </main>
</div>

{% endblock %}
