{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

<!--
{{ breadcrumb({
  items: [
    {
      href: "/diat/design-system-home",
      text: "Design System"
    }
  ],
      href: "/diat/community/community",
      text: "Community"
}) }}
-->


{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
        <div class="article-section-nav-outer-wrapper">
            <div id="sticky-nav" class="" style="">
                <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                    <div class="article-section-nav-wrapper">
                        <div class="article-section-nav">
                            <nav id="toc" class="js-toc-list toc__list">
                                <ol class="article-section-nav__list">
                                    <li>
                                        <a href="backlog" class="active">Backlog</a>
                                    </li>
                                    <li>
                                        <a href="contribute">Contribute</a>
                                    </li>
                                    <li>
                                        <a href="using-patterns">Using the system</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-xl">Community</span>
        <h1 class="nhsuk-heading-xl">Backlog</h1>


        <p>The Design System has an open backlog on <a href="https://github.com/nhsbsa/design-system/projects/1">GitHub</a>. Anyone can propose, develop or contribute to new patterns and components, or improvements to existing ones.</p>

        <p>To contribute, you can create and comment on an <a href="https://github.com/nhsbsa/design-system/issues">issue in GitHub</a>.</p>

<!--        <p>The best place to discuss patterns and components is on Slack.</p>-->
    </div>

    <!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
