{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

<!--
{{ breadcrumb({
      href: "/diat/design-system-home",
      text: "Design System"
  }) }}
-->

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
        <div class="article-section-nav-outer-wrapper">
            <div id="sticky-nav" class="" style="">
                <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                    <div class="article-section-nav-wrapper">
                        <div class="article-section-nav">
                            <nav id="toc" class="js-toc-list toc__list">
                                <ol class="article-section-nav__list">
                                    <li>
                                        <a href="accessibility">Accessibility</a>
                                    </li>
                                    <li>
                                        <a href="nhsuk">NHS.UK</a>
                                    </li>
                                    <li>
                                        <a href="gov" class="active">GOV.UK</a>
                                    </li>
                                    <li>
                                        <a href="prototyping">Prototyping</a>
                                    </li>
                                    <li>
                                        <a href="templates">Templates</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <span class="nhsuk-caption-xl">Resources</span>
        <h1 class="nhsuk-heading-xl">Guidance on GOV.UK</h1>

        <p>Resources available across government.</p>
        <ul class="resource-list">
            <li>
                <a href="https://design-system.service.gov.uk/">
                    GOV.UK design system
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/design-principles">
                    GOV.UK design principles
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/guidance/style-guide/a-to-z-of-gov-uk-style">
                    GOV.UK content style guide
                </a>
            </li>
            <li>
                <a href="https://www.gov.uk/service-manual">
                    GOV.UK service manual
                </a>
            </li>
        </ul>
    </div>

</div>
<!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
