{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    {% include "includes/left-pane__components.html" %}
   
    <div class="nhsuk-grid-column-two-thirds">
        <h1>Components</h1>

        <p class="nhsuk-body-l">Components are ready-made interface elements that can be used in  different patterns and layouts. They are part of our visual language and are intended to be used unchanged for a consistent user experience.</p>
        
        <p>These components extend those used across Government in the <a href="https://design-system.service.gov.uk/components/">GOV.UK design system</a>. As our components mature, we will look to contribute them to the GOV.UK system so they can be used more widely.</p>
      </div>

    </div>

{% endblock %}
