{% extends 'layouts/layout.html' %}

{% block pageTitle %}
About - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/index",
      text: "Home"
    }
  ],
      href: "/diat/assessment",
      text: "Assessments"
}) }}


{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>Assessments at the NHSBSA</h1>
    </div>
</div>



<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-body-l">All NHSBSA services need either an NHSBSA or GDS assessment. </p>

        <p></p>
        
        
        <h2>What happens at the assessment</h2>
        <p>NHSBSA assessments are peer reviews and build on the work your team is already doing with their professional communities.</p>


        <p>They are run by a panel of 4 or 5 assessors, including a lead assessor, a user researcher, a designer and a technical lead.</p>

        <p>At the assessment, you’ll need to:</p>
        <ul>
            <li>give a brief overview of the service</li>
            <li>show the end-to-end journey</li>
        </ul>

        <p>You’ll then show how the service meets the <a href="https://www.gov.uk/service-manual/service-standard">Digital Service Standard</a> by answering questions about:</p>

        <ul>
            <li>user needs</li>
            <li>design</li>
            <li>technology</li>
            <li>your team</li>
            <li>analytics and key performance indicators</li>
        </ul>

        <p>You don’t need to prepare extra material, you’ll be able to use materials you’ve already built for show and tells.</p>

        <h2>Getting your result</h2>

        <p>You’ll get your result within 5 working days of the assessment.</p>

        <p>What happens next depends on the result of the assessment and the development phase your service is in.</p>
        
        <h3>How to book an assessment </h3>
        <p>Email <a href="#">DIaT@nhsbsa.nhs.net</a> to find out which one you need and to book.</p>


        <div class="nhsuk-panel-with-label">
            <h3 class="nhsuk-panel-with-label__label">Related content</h3>
            <p>You may also find the following content useful:</p>

            <ul>
                <li><a href="service-health-check">Get a service standard health check</a></li>
<!--                <li><a href="assessor-training">Service assessor training</a></li>-->
                <li><a href="https://www.gov.uk/service-manual/service-assessments">GDS service assessments</a></li>
                <li><a href="https://www.gov.uk/service-standard-reports">GDS service assessment reports</a></li>
            </ul>
        </div>
    </div>

    <!--
        {{ backLink({
          "href": "/docs",
          "text": "Back to Home",
          "classes": "nhsuk-u-margin-top-7"
        }) }}
-->

</div>

{% endblock %}
