{% extends 'layouts/layout.html' %}

{% block beforeContent %}
  {{ hero({
    "heading": "Service Delivery Manual",
    "text": "Design, build and run NHS Business Service Authority services."
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">

      <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "https://www.gov.uk/service-toolkit",
            "heading": "GOV.UK Service Delivery Manual",
            "headingLevel": 2,
            "description": "The government standards your team needs to work to, and the guidance and tools to support them."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "assessment",
            "heading": "Assessments at the NHS Business Services Authority",
            "headingLevel": 2,
            "description": "All services need an assessment, includes training and consultancy to help your team prepare."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "guidance",
            "heading": "Guidance and tools",
            "headingLevel": 2,
            "description": "The things you need to build and run your service, includes the design system."
          }) }}
        </div>
      </div>
      
            <div class="nhsuk-grid-row nhsuk-promo-group">
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({ 
            "href": "https://beta.nhs.uk/service-manual/",
            "heading": "NHS digital service manual",
            "headingLevel": 2,
            "description": "The things you need to build and run your service, includes the design system."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "phases",
            "heading": "Phases",
            "headingLevel": 2,
            "description": "blah blah blah."
          }) }}
        </div>
        <div class="nhsuk-grid-column-one-third nhsuk-promo-group__item">
          {{ promo({
            "href": "roles",
            "heading": "Roles",
            "headingLevel": 2,
            "description": "blah blah blah."
          }) }}
        </div>
      </div>

    </div>
  </div>
{% endblock %}
