{% extends 'layouts/layout.html' %}

{% block pageTitle %}
About - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
{{ breadcrumb({
  items: [
    {
      href: "/diat/home",
      text: "Home"
    }
  ],
      href: "/diat/guidance",
      text: "Guidance and tools"
}) }}


{% endblock %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>NHSBSA Digital projects</h1>
    </div>
</div>

<!--Search-->
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">

        <form method="GET" >
            <h1 class="nhsuk-heading-m">Search projects</h1>

            <div class="nhsuk-form-group ">
                <label class="nhsuk-label nhsuk-date-input__label">Keywords</label>
                <input class="nhsuk-input" id="keywords" name="keywords" type="search" onkeyup="searchProjects()">
            </div>


            <div class="nhsuk-form-group ">
                <label class="nhsuk-label nhsuk-date-input__label">Phase</label>
                <select class="nhsuk-select" id="phase" name="phase" onclick="selectPhase()">
                    <option selected="selected" value="__None">--</option>
                    <option value="1">Alpha</option>
                    <option value="2">Beta</option>
                    <option value="3">Discovery</option>
                    <option value="4">Live</option>
                </select>
            </div>

            <button class="nhsuk-button" type="submit" name="search" value="true">Search</button>
        </form>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <h2 class="nhsuk-heading-l"> Projects</h2>
        <hr>
        <ul id="service-list" class="nhsuk-list">

            <li>
                <h2 class="search__search-result-item-title">
                    <a href="lis">Low Income Scheme</a>
                </h2>
                <p>Service goal</p>
                <p class="phase-status">Live</p>

                <hr>
                
            </li>
            
            <li>
                <h2 class="search__search-result-item-title">
                    <a href="matex">Maternity Exemption</a>
                </h2>
                <p>Service goal</p>
                <p class="phase-status">Beta</p>
                <hr>
                
            </li>
            
            <li>
                <h2 class="search__search-result-item-title">
                    <a href="manage-submissions">Manage your Submissions</a>
                </h2>
                <p>Service goal</p>
                <p class="phase-status">Alpha</p>

                <hr>
                
            </li>
        </ul>
    </div>
</div>


</div>


{{ backLink({
          "href": "/diat/home",
          "text": "Back to Home",
          "classes": "nhsuk-u-margin-top-7"
        }) }}


</div>
<script>
function searchProjects() {
  var input, filter, ul, li, a, i, txtValue;
  input = document.getElementById('keywords');
  filter = input.value.toUpperCase();
  ul = document.getElementById("service-list");
  li = ul.getElementsByTagName('li');

  for (i = 0; i < li.length; i++) {
    a = li[i].getElementsByTagName("a")[0];
    txtValue = a.textContent || a.innerText;
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      li[i].style.display = "";
    } else {
      li[i].style.display = "none";
    }
  }
}


</script>

{% endblock %}
