{% extends 'layouts/layout.html' %}

{% block pageTitle %}
About - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

{{ breadcrumb({
  items: [
    {
      href: "/diat/home",
      text: "Home"
    },
    {
      href: "/diat/guidance",
      text: "Guidance and tools"
    }
  ],
      href: "/diat/tech-stack",
      text: "Tech-stack"
}) }}

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>Tech stack: languages, frameworks and tooling </h1>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
        <p class="nhsuk-body-l">NHSBSA recommended languages, frameworks and technology, including information on technologies in the complete tech stack.</p>
        
        <h2>Technical service requirements</h2>
        <p>Our <a href="https://github.com/UKHomeOffice/technical-service-requirements">technical service requirements</a> must always be followed.</p>
        
        <h2>Selecting languages, frameworks and technology</h2>
        <p>Our recommended languages for application development are:</p>
        <ul>
            <li>Java</li>
            <li>Javascript (NodeJS)</li>
        </ul>
        <p>If you want more information on recommended technologies or to use something not on this list, email <a href="#">#</a></p>
        

        <h3>Home Office Forms v2 (HOF2)</h3>
        <p>Home Office Forms is an open source set of libraries for quickly building accessible, government styled forms.</p>

        <h3>Platform</h3>
        <p>Our hosting platform is built on Docker...
<!--        The <a href="https://github.com/UKHomeOffice/hosting-platform/blob/master/developer-docs/README.md">platform developer guide</a> describes how to use its components.</p>-->
        
        <h3>NCSC Web Check</h3>
        <p><a href="https://www.webcheck.service.ncsc.gov.uk">NCSC Web Check</a> lets you monitor the security status of your public URLs. It checks the TLS (HTTPS) setup for your site, including server certificate validity and warnings for certificates about to expire.</p>
        
        <h3>Collaborative tooling and remote pairing</h3>
        <p>Some teams use <a href="https://www.screenhero.com">Screenhero</a> (only available on Macs) and <a href="https://chrome.google.com/webstore/detail/chrome-remote-desktop/gbchcmhmhahfdphkhkmpfmihenigjmpp?hl=en">Chrome Remote Desktop</a>.</p>
        
    
        <div class="nhsuk-panel-with-label">
            <h3 class="nhsuk-panel-with-label__label">Related content</h3>
            <p>You may also find the following content useful:</p>

            <ul>
                <li><a href="https://www.gov.uk/service-manual/technology">GOV.UK Service Manual technology section</a></li>
            </ul>
        </div>

    
        {{ backLink({
          "href": "/diat/home",
          "text": "Back to Home",
          "classes": "nhsuk-u-margin-top-7"
        }) }}


</div>

{% endblock %}
