{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}
<!--
{{ breadcrumb({
  items: [
    {
      href: "/diat/home",
      text: "Home"
    },
    {
      href: "/diat/guidance",
      text: "Guidance and tools"
    }
  ],
      href: "/diat/design-system",
      text: "Design system"
}) }}
-->

{% endblock %}




{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-full">
        <h1>Patterns, components and styles for NHSBSA services</h1>
    </div>
</div>

<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
        <div class="article-section-nav-outer-wrapper">
            <div id="sticky-nav" class="" style="">
                <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                    <div class="article-section-nav-wrapper">
                        <div class="article-section-nav">
                            <nav id="toc" class="js-toc-list toc__list">
                                <ol class="article-section-nav__list">
                                    <li>
                                        <a href="#about" aria-label="Scroll to 'About'" title="Scroll to 'About'">Summary</a>
                                    </li>
                                    <li>
                                        <a href="#patterns">Patterns</a>
                                    </li>
                                    <li>
                                        <a href="#components">Components</a>
                                    </li>
                                    <li>
                                        <a href="#styles">Styles</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <div id="about" class="article-section">
            <p class="nhsuk-body-l">This design system is for everyone. It's purpose is to extend the GOV.UK Design System with work specific to the NHSBSA. Learn from the research and experience of other service teams and avoid repeating work that has already been done.</p>

            <p>Any work which would benefit teams across government will be contributed to the <a href="#">GOV.UK system</a>.</p>

        </div>

        <div id="patterns" class="article-section">
            <h2><a href="patterns/patterns">Patterns</a></h2>
            <p>blah</p>
        </div>

        <div id="components" class="article-section ">
            <h2><a href="components/components">Components</a></h2>
            <p>blah</p>
        </div>

        <div id="styles" class="article-section ">
            <h2><a href="styles/styles">Styles</a></h2>
            <p>blaaaahhhhh</p>
        </div>

    </div>

    <!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
