{% extends 'layouts/layout-bsa-design-system.html' %}

{% block pageTitle %}
Start page template - NHS.UK prototype kit
{% endblock %}

{% block beforeContent %}

<!--
  {{ breadcrumb({
      href: "/diat/design-system-home",
      text: "Design System"
  }) }}
-->

{% endblock %}

{% block content %}


<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-one-third">
        <div class="article-section-nav-outer-wrapper">
            <div id="sticky-nav" class="" style="">
                <div class="inner-wrapper-sticky" style="position: relative; transform: translate3d(0px, 0px, 0px);">
                    <div class="article-section-nav-wrapper">
                        <div class="article-section-nav">
                            <nav id="toc" class="js-toc-list toc__list">
                                <ol class="article-section-nav__list">
                                    <li>
                                        <a href="resources/accessibility">Accessibility</a>
                                    </li>
                                    <li>
                                        <a href="resources/nhsuk">NHS.UK</a>
                                    </li>
                                    <li>
                                        <a href="resources/gov">GOV.UK</a>
                                    </li>
                                    <li>
                                        <a href="resources/prototyping">Prototyping</a>
                                    </li>
                                    <li>
                                        <a href="resources/templates">Templates</a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nhsuk-grid-column-two-thirds">
        <h1>Resources</h1>

      <p class="nhsuk-body-l">A collection of resources to help teams design and build services in Government and the NHS.</p>
      <p>Resources cover:</p>
      <ul class="nhsuk-list nhsuk-list--bullet">
        <li>how to design and build <a href="resources/accessibility">accessible</a> services</li>
        <li>helpful resources from across <a href="resources/gov">government</a> and <a href="resources/nhsuk"> the NHS</a></li>
        <li>tools to help build <a href="resources/prototyping">prototypes</a></li>   
        <li>reusable <a href="resources/templates">templates</a></li>   
      </ul>

    </div>
<!--
        /**
         * sticky-sidebar - A JavaScript plugin for making smart and high performance.
         * @version v3.3.1
         * @link https://github.com/abouolia/sticky-sidebar
         * @author Ahmed Bouhuolia
         * @license The MIT License (MIT)
         **/
-->

</div>
{% endblock %}
